.profile {
    position: relative;
    top: 20%;
    left: 43%;
    width: 350px; 
    height: 350px; 
    object-fit: cover;
    border-radius: 50%; 
    margin-top: 20px;
   
  }

.name {
    position: absolute; 
    top: 10px; 
    left: 10px;
    margin: 0; 
    font-size: 60px; 
    padding: 5px 10px; 
    color:#fff;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;  
  }

.links{
    position: absolute; 
    top: 0%; 
    right: 5%;
    font-size: 30px; 
    padding: 5px 10px; 
  }

  .links a {
    margin-right: 20px;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#5fdaff, #feb47b);
  }
  
  .about-me {
    position: relative;
    background-color: #fff;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-image: linear-gradient(#5fdaff, #feb47b);
  }  
  
  .about-me h2 {
    color: #444;
    text-align: center;
  }
  
  .about-me div {
    
    margin-top: 10px;
  }
  
  .about-me p {
    line-height: 1.6;
    margin: 30px 0;
  }

  .about-me-image {
    position: relative;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 150px; 
    height: auto; 
    margin-top: 10px; 
    border-radius: 50%;
 }

  .work {
    background-color: #fff;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-image: linear-gradient(#5fdaff, #feb47b);
  }
  
  .work h2 {
    color: #444;
    text-align: center;
  }
  
  .work div {
    margin-top: 10px;
  }
  
  .work p {
    line-height: 1.6;
    margin: 10px 0;
  }

  .work-image {
    position: relative;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 150px; 
    height: auto; 
    margin-top: 10px; 
    border-radius: 50%;
 }

  .contact {
    background-color: #fff;
    color: #333;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-image: linear-gradient(#5fdaff, #feb47b);
  }
  
  .contact h2 {
    color: #444;
    text-align: center;
  }
  
  .contact div {
    margin-top: 10px;
  }
  
  .contact p {
    line-height: 1.6;
    margin: 10px 0;
  }

  .contact-image {
    position: relative; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 150px; 
    height: auto; 
    margin-top: 10px; 
    border-radius: 50%;
 }

